<div class="footer">
    <div class="top">
        <div class="foots">
            <img src="/assets/ariders.jpg">
        </div>

        <div class="foots">
            <h3>Reach Us</h3>
            <a router-link="/signin">Contact: +254 711 688593</a>
        </div>

        <div class="foots">
            <h3>Rides and Events</h3>
            <p> <a router-link="/signin">Group Rides</a></p>
            <p><a router-link="/signin">Training Races</a></p>
            <p><a router-link="/signin">Group Events </a></p>
            <p><a router-link="/signin">Races </a></p>
            <p><a router-link="/signin">Individual Time Trials </a></p>

        </div>
        <div class="foots">
            <h3>Follow Us</h3>
            <div class="socialMedia">
                <p><a href="https://www.strava.com"><fa-icon [icon]="faTwitter"></fa-icon></a></p>
                <p><a href="https://www.strava.com"><fa-icon [icon]="faFacebook"></fa-icon></a></p>
                <p><a href="https://www.instagram.com/ariders001?igsh=MTRnbDV5MWtwNnN1cw=="><fa-icon
                            [icon]="faInstagram"></fa-icon></a></p>
                <p><a href="https://www.strava.com/clubs/1115547"><fa-icon [icon]="faStrava"></fa-icon></a></p>

            </div>

        </div>


    </div>
    <hr>
    <div class="bottom">
        <p>© 2021 Ariders</p>

    </div>

</div>