.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 30vw;
    height: 60vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px #D9D9D9;
}

.signupContainer {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 40vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    border-radius: 5px;
    font-size: medium;
}

.signupContainer h1 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #c9941d;
    font-weight: bolder;
}

.formContainer {
    border: solid #d2d4c8 1px;
    border-radius: 5px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    margin-bottom: 10px;
}

.formContainer form {
   
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid red 1px; */
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding: 5px;
    height: 93%;
    width: 80%;

}

input {
    width: 80%;
    height: 6vh;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    font-size: 0.7rem;
}

input:focus {
    outline: none;
    border: solid #c9941d 1px;
}

.signup-btn {
    width: 80%;
    padding: 4px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    font-size: 0.8rem;
    background-color: #c9941d;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.formContainer a{
    text-decoration: underline;
    color: #c9941d;
    font-size: 0.8rem;
    margin-top: 10px;
}

.line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #c9941d, #d6c49b, #d3c9bb);
    background-size: 200% 100%;
    animation: slide-line 2s linear infinite;
    border-radius: 2px;
    margin: 10px;
}


@keyframes slide-line {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.invalid {
    animation: blinker 3s linear infinite;
 

}
.error{
    color: red;
    font-size: 13px;
}

@keyframes blinker {
    50%{
        opacity: 0;
        border: solid red 1px;
        
    }
    
}

/* media queries */

@media screen and (max-width:480px) {
    .main {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }

    .video {
        width: 80%;
        height: 25vh;
        margin: 10px 5px;
    }

    .signupContainer {
        width: 90%;
        height: 75vh;

    }

    .formContainer {
        height: 85vh;
        margin: 5px;
        width: 80%;
    }
    .formContainer form {
        width: 90%;
    }

    input {
        width: 90%;
        height: 5vh;
        font-size: 0.8rem;
    }

    .signup-btn {
        width: 90%;
        font-size: 0.8rem;
        padding: 5px;
    }

}

@media screen and (max-width:768px) {
    .main {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }
}

@media screen and (max-width:1200px) {}