.main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    
}

.navigation{
    width: 250px;
    background-color: black;
    height: 99.9vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;

}

.navigation h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #c9941d;
    font-weight: bolder;
}

.navLinks {
    list-style: none;
    padding: 0;

}

.navLinks li {
    margin: 15px 0;
}

.navLinks a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.navLinks a:hover {
    background: linear-gradient(to right, #c9941d, #c8a54b);
}

.viewPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid blue 2px;
    height: auto;
    width: 83%;
    background-color:white;

}

.viewBar{
    display: flex;
    width: 100%;
    border: solid #d2d4c8 1px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 7px;

}
.panelActions{
    width: 60%;
    padding: 5px;
    text-align: center;
    background-color: #fff;

}

.side{
    display: none;
}

.viewBarLinks fa-icon{
    font-size: 20px;
    color: #c9941d;
    margin: 0 8px;
    cursor: pointer;
}

.account{
    display: flex;
    align-items: center;
    border: solid #d2d4c8 1px;
    background-color: #fff;
    padding:2px 5px;
    font-size: small;
    border-radius: 20px;

}

.account img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
}

.panel{
    height: 92%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* border: solid #b3371e 1px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 5px;
}

/* panel */

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e6ecee;
    /* border: solid red 2px; */
}

.profileMajor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #d2d4c8 1px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 95%;
    border-radius: 5px;
    gap: 15px;

}
.userDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50%;
    border: solid #d2d4c8 1px;
    padding: 5px;
    border-radius: 5px;
  
}
.userDetails img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 2px;
}
.userDetails button{
    background-color: #c9941d;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
}
.membershipStatus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 20%;
    
    border: solid #d2d4c8 1px;
    padding: 5px;
    border-radius: 5px;
    
}
.membershipStatus span{
    font-size: small;
    color: #c9941d;
    font-weight: bolder;
}

.profileMini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #d2d4c8 1px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 90%;
    border-radius: 5px;

}

.profileEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #d2d4c8 1px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 65%;
    border-radius: 5px;
}
.formContainer{
    /* border: solid #d2d4c8 1px; */
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    margin-bottom: 10px;
    margin-top: 7px;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding: 5px;
    height: 60%;

}
.formContainer .editForm{
    border: solid #d2d4c8   1px;
    width: 83%;
    height: 90%;
}
.formContainer input{
    width: 98%;
    height: 6vh;
    margin: 8px 8px;
    padding: 8px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    font-size: 0.7rem;
}
.formContainer input:focus {
    outline: none;
    border: solid #c9941d 1px;
}
.editBtn{
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: solid #d9d9d9 1px;
    font-size: 0.8rem;
    background-color: #c9941d;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

/* media queries*/

@media screen and (max-width:480px) {
    .navigation{
        display: none;
    }

    .viewPanel{
        width: 100%;
        height: 100vh;
    }
    .side{
        display: block;
    }
    .sidePanel{
        top: 0;
        position: fixed;
        right: -250px;
        transition: left 0.3s ease;
        width: 150px;
        height: 90vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .sidePanelContent{
        margin-top: 10px;
        height: 60%;
        padding: 3px;

    }

    .sidePanelContent a{
        text-decoration: none;
        color: #c9941d;
        padding: 10px;
        display: block;
        border-radius: 5px;
        transition: background-color 0.3s;
        cursor: pointer;
        margin: 5px 0;
    }
    .sidePanelContent a:hover {
        background: linear-gradient(to right, #c9941d, #c8a54b);
        color: white;
    }

    .sidePanelOpen{
        right: 0;
    }

    .closeSideNav{
        color: black;
        padding: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        font-size: medium;
        margin-bottom: 3px;
    }
    
    .panel {
        height: 100vh;
        overflow-y: auto;
        background-color: #f0f0f0;
      }
      
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 90vh;
        overflow-y: auto;
        gap: 10px;
        padding: 5px;
      }
    .profileMajor{
        width: 90%;
        height: 75vh;
        padding:10px 5px;
    }
    .userDetails{
        width: 85%;
        height: 35vh;
    }
    .membershipStatus{
        width: 85%;
    }
    .profileMini{
        width: 90%;
        height: 70vh;
    }

    .profileEdit{
        width: 90%;
        height: 90vh;
    }
    .formContainer{
        width: 90%;
        height: 45vh;
    }
    .formContainer .editForm{
        width: 90%;
        height: 40vh;
    }

    
}

@media screen and (max-width:768px){
    .profile{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap:10px;
    }
    .profileMajor{
        width: 90%;
        height: 75vh;
        padding:10px 5px;
    }
    .userDetails{
        width: 85%;
        height: 35vh;
    }
    .membershipStatus{
        width: 85%;
    }
    .profileMini{
        width: 90%;
        height: 70vh;
    }
}
