<div class="main">

    <app-navigation></app-navigation>

    <div class="hero" style="background-image:url('../../assets/heroPic.jpg');">
        <div class="overlay">
            <h1>Adventure Awaits</h1>
            <!-- <p>Discover, connect, and gear up with fellow cyclists.</p> -->
            <a routerLink="/signup" class="hero-btn">Join Now</a>
        </div>
    </div>

    <div class="features">
        <h1 class="text-lg mt-5px">What we do...</h1>

        <div class="featureFrame">
            <div class="largeFeature">
                <h3>We are a community of cyclists</h3>
                <img src="../../assets/comm.jpg" alt="">

            </div>

            <div class="smallFeatures">
                <div class="smallFeature">
                    <h3>Group Rides</h3>
                    <img src="../../assets/groupRides.jpg" alt="">
                </div>

                <div class="smallFeature">
                    <h3>Training Races</h3>
                    <img src="../../assets/race.jpg" alt="">
                </div>

                <div class="smallFeature">
                    <h3>MTB Races</h3>
                    <img src="../../assets/mtbrace.jpg" alt="">
                </div>

                <div class="smallFeature">
                    <h3>Mass Rides</h3>
                    <img src="../../assets/community.jpg" alt="">
                </div>

                <div class="smallFeature">
                    <h3>Road Race</h3>
                    <img src="../../assets/race.jpg" alt="">
                </div>
                <div class="smallFeature">
                    <h3>ITT Race</h3>
                    <img src="../../assets/ITTRace.jpg" alt="">
                </div>

            </div>

        </div>


    </div>

    <div class="about">
        <div class="about-section">
            <h3>About Us</h3>
            <p>We are Mombasa based passionate cyclists, committed to creating an inclusive and engaging platform for
                riders of all levels</p>

        </div>

        <!-- Our Mission Section -->
        <div class="mission-section">
            <h3>Our Mission</h3>
            <p>Our mission is to empower cyclists improve, and share their cycling
                journeys. We strive to create a seamless, real-time experience that enhances community engagement and
                keeps riders motivated.</p>
        </div>

    </div>


    <app-footer></app-footer>

</div>