main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


/* hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: contain; 
    background-repeat: no-repeat;
 
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.hero .hero-btn {
    background-color: #c9941d;
    color: #fff;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;

}

.hero a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* features */
.features {
    height: 80vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.features h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #c9941d;
}

.featureFrame {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.largeFeature {
    width: 40%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.largeFeature img {
    width: 85%;
    height: 85%;
    border-radius: 10px;
}

.smallFeatures {
    width: 55%;
    height: 97%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: white;

}

.smallFeature {
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;

}

.smallFeature img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    background-size: contain; 
    background-repeat: no-repeat;
}

/* about us */
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 2rem; 
}
.about-section ,.mission-section {
    width: 95vw;
    padding: 2rem;
    text-align: center;
    border: solid #d2d4c8 1px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h3, .mission-section h3 {
    font-size: 2.5rem;
    color: #c9941d;
    margin-bottom: 1rem;
}

.about-section, .mission-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
    margin: 1rem 0;
}



/* media queries */
@media screen and (max-width: 480px) {
    .features {
        height: auto;

    }

    .featureFrame {
        flex-direction: column;
        height: auto;
    }

    .largeFeature {
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        padding: 5px;
    }

    .smallFeatures {
        width: 100%;
        height: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .smallFeature {
        width: 35%;
        height: 80%;

    }

    .smallFeature img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 768px) {
    .features {
        height: auto;
    }
    .hero{
        height: 45vh;
       
    }


}


@media screen and (max-width: 1200px) {
    .features {
        height: auto;
    }

}