.navigation {
    width: 98vw;
    margin: 0 3px;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.links a {
    text-decoration: none;
    color: black;
    transition: ease-out 0.5s;
    padding:5px 9px ;
    border-radius: 8px;
}

.links a:hover {
    background:linear-gradient(to right, #c9941d, #c8a54b);
    
}

.account {
    width: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support a {
    background:linear-gradient(to right, #c9941d, #c8a54b);
    color: black;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: 5px;
    border-radius: 7px;
}
.nav{
    display: none;
}

fa-icon{
    font-size: 20px;
    color:#c9941d;
    margin-right: 5px;
}



.side-panel {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 150px;
    height: 65%;
    background-color:#fff;
    color: black;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-panel-open {
    right: 0; 
}

.side-panel-content a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.side-panel-content a:hover {
    background:linear-gradient(to right, #c9941d, #c8a54b);
}
.side-panel-content a:hover fa-icon {
    color: black;
}


.close-btn {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
   
}


/* media queries */
@media screen and (max-width: 480px) {
    .links {
        display: none;
    }

    .navigation {
        height: 10vh;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .account {
        width: 10%;
        display: none;
    }
    .nav{
        display: block;
        margin-right: 5px;
    }

}