<div class="main">
    <div class="navigation">
        <h4>A Riders</h4>

        <div class="navLinks">
            <ul>
                <li><a (click)="setView('dashboard')">Dashboard</a></li>
                <li><a (click)="setView('members')">Members</a></li>
                <li><a (click)="setView('riders')">Riders</a></li>
                <li><a (click)="setView('events')">Events</a></li>
                <li><a (click)="setView('rides')">Rides</a></li>
                <li><a routerLink="/login">Logout</a></li>
            </ul>
        </div>

    </div>
    <div class="viewPanel">
        <div class="viewBar">
            <div class="account">
                <p>admin</p>
            </div>

            <div class="panelActions">
                <p>{{currentView}}</p>

            </div>

            <div class="side">
                <div class="viewBarLinks">
                    <a (click)="toggleSideNav()"><fa-icon [icon]="faBars"></fa-icon></a>
                </div>

                <div class="sidePanel" [ngClass]="{'sidePanelOpen':sideNavOpen}">
                    <div class="sidePanelContent">
                        <h4>A riders</h4>
                        <div class="closeSideNav" (click)="toggleSideNav()">Close</div>
                        <ul>
                            <li><a (click)="setView('dashboard')">Dashboard</a></li>
                            <li><a (click)="setView('members')">Members</a></li>
                            <li><a (click)="setView('riders')">Riders</a></li>
                            <li><a (click)="setView('events')">Events</a></li>
                            <li><a (click)="setView('rides')">Rides</a></li>
                            <li><a routerLink="/login">Logout</a></li>
                        </ul>

                    </div>


                </div>

            </div>
        </div>

        <div class="panel">
            <!-- dashboard -->
            <div class="dashboard" *ngIf="currentView === 'dashboard'">

            </div>

              <!-- Members -->
              <div class="members" *ngIf="currentView === 'members'">

              </div>

                <!-- dashboard -->
            <div class="riders" *ngIf="currentView === 'riders'">

            </div>

              <!-- events -->
              <div class="events" *ngIf="currentView === 'events'">

              </div>

                <!-- dashboard -->
            <div class="rides" *ngIf="currentView === 'rides'">

            </div>

        </div>

    </div>
</div>